<ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion admin-sidebar"
    id="accordionSidebar">

    <!-- Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/adminDashboard">
        <div class="sidebar-brand-icon">
            <img src="/img/icons8-riot-games-500.png" width="28">
        </div>
        <div class="sidebar-brand-text mx-2">Blog Project</div>
    </a>

    <hr class="sidebar-divider my-0">

    <!-- Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/adminDashboard">
            <i class="fas fa-home"></i>
            <span>Admin Dashboard</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <!-- Product Management -->
    
    <li class="nav-item active">
        <a class="nav-link">
            
            <span>Admin Blog Management</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/blog-page">
            <i class="fas fa-plus-circle"></i>
            <span>Add Blog</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/getAllBlogs">
            <i class="fas fa-list"></i>
            <span>Blog List</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <!-- Authentication -->
  
    <li class="nav-item active">
        <a class="nav-link">
            <i class="fas fa-user-plus"></i>
            <span>Admin / User</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/register-page">
            <i class="fas fa-user-plus"></i>
            <span>Register</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/login-page">
            <i class="fas fa-sign-in-alt"></i>
            <span>Login</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/forget-page">
            <i class="fas fa-sign-in-alt"></i>
            <span>forget password</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <!-- Utilities -->
    
    <li class="nav-item active">
        <a class="nav-link">
            
            <span>User Blog Management</span>
        </a>
    </li>
    

    <li class="nav-item">
        <a class="nav-link" href="/userDashboard">
            <i class="fas fa-sign-in-alt"></i>
            <span>User Dashboard</span>
        </a>
    </li>
    

    <li class="nav-item">
        <a class="nav-link" href="/userBlogPage">
            <i class="fas fa-sign-in-alt"></i>
            <span>User Create Blog</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/getAllUserBlogsPage">
            <i class="fas fa-sign-in-alt"></i>
            <span>User Blog List</span>
        </a>
    </li>


    <hr class="sidebar-divider d-none d-md-block">

    <!-- Toggle -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
